<div class="container-fluid">

    <h1>Login</h1>

    <div ng-show="model.message" class="alert alert-danger">
        {{model.message}}
    </div>

    <label for="username">
        Username
    </label>

    <input id="username"
           ng-model="username"
           class="form-control"
           placeholder="username"/>

    <label for="password">
        Password
    </label>

    <input id="password"
           ng-model="password"
           type="password"
           class="form-control"
           placeholder="password"/>

    <a ng-click="model.login(username,password)"
       class="btn btn-block btn-primary">Login</a>

    <a href="#!/register"
       class="btn btn-block btn-success">Register</a>

</div>
