<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="navbar-brand">Profile</div>
    <a href="profile.view.client.html">
        <span class="glyphicon glyphicon-ok pull-right navbar-brand"></span>
    </a>

</nav>
<div class="container-fluid">
    <label for="username">Username</label>

    <input id="username"
           class="form-control"
           readonly ng-model="model.user.username"/>

    <label for="email">Email</label>
    <input id="email"
           type="email"
           class="form-control"
           ng-model="model.user.email"
           placeholder="sushant@gmail.com"/>

    <label for="password">Password</label>

    <input id="password"
           type="password"
           class="form-control"
           placeholder="password"/>

    <label for="verifypassword">Verify Password</label>

    <input id="verifypassword"
           type="password"
           class="form-control"
           placeholder="verify password"
           />

    <label for="fname">First Name</label>

    <input id="fname"
           class="form-control"
           placeholder="Sushant"
           ng-model="model.user.firstName"/>

    <label for="lname">Last Name</label>

    <input id="lname"
           class="form-control"
           placeholder="Mimani"
           ng-model="model.user.lastName"/>

    <a href="../website/website-list.html"
       class="btn btn-block btn-primary">Websites</a>

    <a href="#!/login"
       class="btn btn-block btn-danger">Logout</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom ">
    <a href="#">
        <span class="glyphicon glyphicon-user pull-right navbar-brand"></span>
    </a>

</nav>
</body>
</html>