input.form-control, textarea.form-control {
    margin-bottom: 5px;
}

body {
    margin-top: 75px;
    margin-bottom: 80px;
}

.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-brand {
    color: white;
    margin: auto;
}

.list-group-item{
    /*border: none;*/
}
