<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/read">Ask-n-Answer</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#!/read"><span class="fa fa-book"> Read</span></a></li>
                <li><a href="#!/answer"><span class="fa fa-pencil"> Answer</span></a></li>
            </ul>

                <form ng-show="model.user" class="form-inline  nav navbar-nav  ">
                    <input class="form-control my-2 "
                           type="text"
                           placeholder="Search on quora.com"
                           ng-model="searchText">
                    <a ng-click="model.searchGoogle(searchText)"
                       class="btn  btn-success ">Search</a>

                </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/ask"><span class="glyphicon glyphicon-question-sign"></span> Ask a Question</a></li>
                <li ng-show="model.user" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" ><span class="glyphicon glyphicon-user"></span> {{model.user.username}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!/user">Profile</a></li>
                    <li><a href="#!/content">My Content</a></li>
                    <li ng-if="model.user.isAdmin"><a href="#!/admin">Admin Dashboard</a></li>
                    <li><a href="" ng-click="model.logout()">Logout</a></li>

                </ul>
                </li>
                <li ng-show="!model.user"><a href="#!/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li ng-show="!model.user"><a href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>