<nav class="navbar navbar-default navbar-fixed-top wd-child ">
    <a href="widget-list.view.client.html">
        <span class="glyphicon glyphicon-chevron-left pull-left navbar-brand"></span>
    </a>
    <div class="navbar-brand">Choose Widget</div>
</nav>

<div  class="container-fluid">
    <select id="type" class="form-control" ng-model="widget.widgetType">
        <option value=''>---Please select widget type---</option> <!-- not selected / blank option -->
        <option value='HEADING'>Header</option>
        <option value='IMAGE'>Image</option>
        <option value=YOUTUBE>Youtube</option>
        <option value=HTML>HTML</option>
    </select>

    <div ng-switch="widget.widgetType">
        <div ng-switch-when="HEADING">
            <h2>Add Heading Widget</h2>
        </div>
        <div ng-switch-when="IMAGE">
            <h2>Add Image Widget</h2>
        </div>
        <div ng-switch-when="YOUTUBE">
            <h2>Add Youtube Widget</h2>
        </div>
        <div ng-switch-when="HTML">
            <h2>Add HTML Widget</h2>
        </div>
    </div>

<div ng-if="model.isSelected(widget.widgetType)" ng-include="model.getWidgetUrlForType(widget.widgetType)">

</div>

<a  ng-if="model.isSelected(widget.widgetType)" ng-click="model.createWidget(model.widget, widget.widgetType)" class="btn btn-success btn-block">Save</a>

<div ng-include="'views/common/footer-child.view.client.html'"></div>

</div>