<nav class="navbar navbar-default navbar-fixed-top ">
    <a href="../user/profile.html">
        <span class="glyphicon glyphicon-chevron-left pull-left navbar-brand"></span>
    </a>
    <div class="navbar-brand">Website</div>
    <a href="#!/user/{{model.userId}}/website/new">
        <span class="glyphicon glyphicon-plus pull-right navbar-brand"></span>
    </a>
</nav>



<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item">
            <a href="../page/page-list.html">
               {{website.name}}
            </a>
            <a href="website-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right"/>
            </a>
        </li>
    </ul>
</div>

<div class="container-fluid" ng-if="!model.hasWebsite">
    <h2>No Websites</h2>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom ">
    <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user pull-right navbar-brand"></span>
    </a>
</nav>
