<nav class="navbar navbar-default navbar-fixed-top wd-child">
    <a href="#!user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">

    <span class="glyphicon glyphicon-chevron-left pull-left navbar-brand"></span>
    </a>
    <div class="navbar-brand">Widget Edit</div>
    <a ng-click="model.updateWidget(model.widget)">
        <span class="glyphicon glyphicon-ok pull-right navbar-brand"></span>
    </a>

</nav>

<div class="container-fluid">

    <label for="url">URL</label>
    <input id="url"
            ng-model="model.widget.url"
           class="form-control"/>

    <label for="width">Width</label>
    <input id="width"
           ng-model="model.widget.width"
           class="form-control"/>

    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" class="doNotDisplay"/>
        <input  name="userId"    value="{{model.userId}}"   class="doNotDisplay"/>
        <input  name="websiteId" value="{{model.websiteId}}"   class="doNotDisplay"/>
        <input  name="pageId"    value="{{model.pageId}}"   class="doNotDisplay"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   class="doNotDisplay"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>
    <br/>

    <a class="btn btn-info btn-block" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/search">
        Search
    </a>

</div>

<div ng-include="'views/common/footer-child.view.client.html'"></div>