<nav class="navbar navbar-default navbar-fixed-top wd-child ">
    <a href="#!user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
    <span class="glyphicon glyphicon-chevron-left pull-left navbar-brand"></span>
    </a>
    <div class="navbar-brand">Widget Edit</div>
    <a ng-click="model.updateWidget(model.widget)">
        <span class="glyphicon glyphicon-ok pull-right navbar-brand"></span>
    </a>

</nav>


<div class="container-fluid">

    <label for="name">Name</label>
    <input id="name"
           ng-model="model.widget.name"
           class="form-control"/>

    <label for="text">Text</label>
    <input id="text"
           ng-model="model.widget.text"
           class="form-control"/>

    <label for="rows">Rows</label>
    <input id="rows"
           ng-model="model.widget.rows"
           class="form-control"/>

    <label for="placeholder">Placeholder</label>
    <input id="placeholder"
           ng-model="model.widget.placeholder"
           class="form-control"/>

    <div class="input-group">
        <input type="text"
               readonly
               value="Formatted"
               class="form-control"/>
        <span class="input-group-addon">
            <input ng-model="model.widget.formatted"
                   type="checkbox"/>
        </span>
    </div>

</div>

<div ng-include="'views/common/footer-child.view.client.html'"></div>