<div class="container-fluid">
    <div ng-include="'./views/common/header.view.client.html'"></div>
    <div ng-if="!model.displayResult" class="row content" >
        <h1 class="header-text" ><strong>RECENT QUESTIONS</strong></h1>
        <hr>
        <div ng-repeat="question in model.questions" class="col-sm-12">
        <div class="row">
            <div class="col-sm-3">
                <div ng-if="question.isAnon" class="well wd-overflow">
                    <h5><span class="glyphicon glyphicon-time"></span> Post by Anonymous at <span> {{question.updatedDate | date:"MM/dd/yyyy 'at' h:mma"}}</span></h5>
                </div>
                <div ng-if="!question.isAnon"class="well">
                    <h5><span class="glyphicon glyphicon-time"></span> Post by {{question.user.username}} at <span> {{question.updatedDate | date:"MM/dd/yyyy 'at' h:mma"}}</span></h5>
                </div>
            </div>

            <div class="col-sm-9">

                <div class="well">
                    <h1><strong><a href="#!/user/question/{{question._id}}" >{{question.title}}</a></strong></h1>
                    <p><h3>{{question.description}}</h3></p>

                    <div ng-show="question.answer">
                    <div class="well" >
                    {{question.answer[0].answerText}}

                        <a href="" class="btn btn-danger pull-right " ng-click="model.downvoteAnswer(question.answer[0])">
                            <span class="glyphicon glyphicon-thumbs-down">&nbsp{{question.answer[0].downVotes}} </span>
                        </a>


                        <a href="" class="btn btn-success pull-right" ng-click="model.upvoteAnswer(question.answer[0])">
                            <span class="glyphicon glyphicon-thumbs-up ">&nbsp{{question.answer[0].upVotes}}</span>
                        </a>



                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>


    </div>
    <div ng-if="model.displayResult" class="row content">
    <div ng-show="model.result">


        <h1 class="header-text"><strong>Results</strong><h5><a href="" ng-click="model.displayResult=false">Back to Read</a></h5></h1>

        <ul>
            <li class="wd-text-align" ng-repeat="result in model.result">

                <a href="{{result.link}}" target="_blank">{{result.link}}</a>
                <p ng-bind-html="model.trustThisContent(result.htmlSnippet)"></p>
            </li>
        </ul>
    </div>
    </div>
</div>
