<div ng-style="{'background-image':'url(../../../../../project/assets/img/ask.jpg)','background-repeat': 'no-repeat',
 'height':'800px' ,'background-size': '100% 800px' }">
    <div class="container-fluid">


    <div ng-include="'./views/common/header.view.client.html'">
    </div>


        <h1 class="header-text">Ask a new question</h1>


        <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input ng-model="question.title" type="text" class="form-control" placeholder="Title">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea rows="7" ng-model="question.description" type="text" class="form-control" placeholder="Enter question description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Category</label>
            <div class="col-sm-1">
                <select ng-model="question.category">
                    <option  ng-repeat="category in model.categories" value="{{category._id}}">{{category.type}}</option>
                </select>
            </div>
        </div>

        <form class="pull-right">
            <label class="header-text">Ask Anonymously:
                <input type="checkbox" ng-model="question.isAnon">
            </label>
        </form>


        <a ng-click="model.createQuestion(question)"
           class="btn  btn-success">Ask</a>

        <a href="#!/read"
           class="btn  btn-danger">Cancel</a>

    </div>
</div>
</div>

