
<div class="container-fluid">
    <div ng-include="'./views/common/header.view.client.html'"></div>
    <div ng-show="model.message" class="alert alert-success">
        {{model.message}}
    </div>
    <label for="username">Username</label>

    <input id="username"
           class="form-control"
           readonly ng-model="model.user.username"/>

    <label for="email">Email</label>
    <input id="email"
           type="email"
           class="form-control"
           ng-model="model.user.email"
           placeholder="email@domain.com"/>

    <label for="fname">First Name</label>

    <input id="fname"
           class="form-control"
           placeholder="First Name"
           ng-model="model.user.firstName"/>

    <label for="lname">Last Name</label>

    <input id="lname"
           class="form-control"
           placeholder="Last Name"
           ng-model="model.user.lastName"/>

    <label for="phone">Phone</label>

    <input id="phone"
           class="form-control"
           placeholder="Phone Number"
           ng-model="model.user.phone"/>

    <div class="form-group">
        <label for="newCategories">Update Categories</label>
        <select multiple class="form-control" id="newCategories" ng-options="category.type for category in model.categories" ng-model="model.user.category">

        </select>
    </div>

    <a ng-click="model.updateUser(model.user)"
       class="btn  btn-success">Update</a>

    <a ng-click="model.deleteUser(model.user)"
       class="btn  btn-info">Delete</a>

    <a href="#!/login"
       class="btn  btn-danger">Logout</a>


</div>


