<div class="container-fluid">
    <h1 class="header-text">Register</h1>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <label for="username">Username</label>

    <input id="username"
           ng-model="username"
           class="form-control"
           placeholder="username"/>

    <label for="password">Password</label>

    <input id="password"
           type="password"
           ng-model="password"
           class="form-control"
           placeholder="password"/>

    <label for="password2">Verify Password</label>

    <input id="password2"
           ng-model="password2"
           type="password"
           class="form-control"
           placeholder="verify password"/>

    <a ng-click="model.registerUser(username, password, password2)"
       class="btn  btn-primary">Register</a>

    <a href="#!/login"
       class="btn  btn-danger">Cancel</a>

</div>
