<div class="container-fluid wd-search-padding">
    <h2 class="header-text"> Search </h2>
    <div class="input-group">
        <input ng-model="searchText"
               type="text"
               class="form-control"
        placeholder="Google powered search on Quora.com">
        <span class="input-group-btn">
            <a ng-click="model.searchGoogle(searchText)"
               class="btn btn-default" type="button" style="margin-left: 15px">
                <span class="fa fa-search"></span>
            </a>
        </span>
    </div>
    <br/>

  <div ng-show="model.result">

      <h3>Results</h3>
    <ul>
        <li ng-repeat="result in model.result">
            <a href="{{result.link}}" target="_blank">{{result.link}}</a>
            <div ng-bind-html="model.trustThisContent(result.htmlSnippet)"></div>
        </li>
    </ul>

  </div>


</div>