<div class=" wd-usercontent container-fluid">
    <div ng-include="'./views/common/header.view.client.html'"></div>
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{ active: model.isSet(1) }">
                    <a href ng-click="model.setTab(1)">My Questions</a>
                </li>
                <li ng-class="{ active: model.isSet(2) }">
                    <a href ng-click="model.setTab(2)">My Answers</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">

            <div class="well">
                <div ng-show="model.isSet(1)">
                    <h1>My Questions page</h1>
                    <div class="well" ng-repeat="question in model.questions">
                        <a href="#!/user/question/{{question._id}}">
                            {{question.description}}
                        </a>

                        <button  class="btn btn-success pull-right"><span class="glyphicon glyphicon-pencil pull-right"
                        ng-click="model.editQuestion(question)">
                        </span></button>
                        <button class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove-circle pull-right"
                              ng-click="model.deleteQuestion(question)">
                        </span></button>

                        <div ng-if="question.toEdit">
                                <label class="control-label pull-left">Title</label>
                                <div>
                                    <input ng-model="question.title" type="text" class="form-control" placeholder="Title">
                                </div>
                            <label class="control-label pull-left">Description</label>
                            <div>
                                <input ng-model="question.description" type="text" class="form-control" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Category</label>
                                <div class="col-sm-1">
                                    <select ng-model="question.category">
                                        <option  ng-repeat="category in model.categories" value="{{category._id}}">{{category.type}}</option>
                                    </select>
                                </div>
                            </div>

                            <form class="pull-right">
                                <label >Ask Anonymously:
                                    <input type="checkbox" ng-model="question.isAnon">
                                </label>
                            </form>
                            <br/>
                            <button  class="btn btn-success pull-right"ng-click="model.updateQuestion(question)">Save</button>
                            <br/>
                            </div></div>
                    </div>

                <div ng-show="model.isSet(2)">
                    <h1>My Answers Page</h1>
                    <div class="well" ng-repeat="answer in model.answers">
                        <a href="#!/user/question/{{answer.question._id}}">
                            {{answer.question.description}}
                        </a>
                            <div class="well-sm">
                                {{answer.answerText}}
                                <button  class="btn btn-success pull-right"><span class="glyphicon glyphicon-pencil pull-right"
                                                                       ng-click="model.editAnswer(answer)"></span></button>
                                <button class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove-circle pull-right"
                                                                     ng-click="model.deleteAnswer(answer)"></span></button>
                            </div>
                        <div ng-if="answer.toEdit">
                            <label class="control-label pull-left">Answer</label>
                            <div>
                                <input ng-model="answer.answerText" type="text" class="form-control" placeholder="Title">
                            </div>
                            <br/>
                            <button  class="btn btn-success pull-right"ng-click="model.updateAnswer(answer)">Save</button>
                            <br/>
                        </div></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>