<nav class="navbar navbar-default navbar-fixed-top wd-child">
    <div class="row">
        <div class="col-sm-4 hidden-xs">
            <a href="#!/profile/website/{{model.websiteId}}/page" class="navbar-brand">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
            <a class="navbar-brand">
                Pages
            </a>
            <a href="#!/profile/website/{{model.websiteId}}/page/new" class="navbar-brand pull-right">
              <span class="glyphicon glyphicon-plus">
              </span>
            </a>
        </div>
        <div class="col-sm-4 hidden-xs">
            <a class="navbar-brand">
                New Page
            </a>
        </div>
        <div class="col-sm-4 hidden-xs">
            <a ng-click="model.createPage(page)">
                <span class="glyphicon glyphicon-ok pull-right navbar-brand"></span>
            </a>
        </div>
        <div class="col-xs-12 visible-xs">
            <a href="#!/profile/website/{{model.websiteId}}/page" class="navbar-brand">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
            <a class="navbar-brand">
                New Page
            </a>
            <a ng-click="model.createPage(page)">
                <span class="glyphicon glyphicon-ok pull-right navbar-brand"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4 hidden-xs scrollable-left border">
            <ul class="list-group">
                <li ng-repeat="page in model.pages" class="list-group-item">
                    <a href="#!/profile/website/{{model.websiteId}}/page/{{page._id}}/widget">
                        {{page.name}}
                    </a>
                    <a href="#!/profile/website/{{model.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"/>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-8 col-xs-12 wd-formadjust wd-editpadding ">
            <div ng-show="model.error" class="alert alert-danger">
                {{model.error}}
            </div>
            <label for="name">Page Name</label>

            <input id="name"
                   ng-model="page.name"
                   class="form-control"
                   placeholder="Page Name"/>

            <label for="description">Title</label>

            <input id="description"
                   ng-model="page.description"
                   class="form-control"
                   placeholder="Page Description"/>
        </div>
    </div>
</div>


<div ng-include="'views/common/footer-child.view.client.html'"></div>

